.logo{
    text-align: left; 
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 300px;
}

.h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 200px;
}

.p{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 100px;
}

.buttons{
    display: flex;
    justify-content:center;
}

body{
    background-color: rgb(47, 44, 44);
}

button{
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(47, 44, 44);
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: rgb(47, 44, 44);; 

  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 104, 104); 
  }

