.heading1{
    text-align: left; 
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.p1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.buttons{
    display: flex;
    justify-content:center;
}

body{
    background-color: rgb(47, 44, 44);
}

button{
    font-size: 20px;
    font-weight: 700;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(47, 44, 44);
}

